/* HEADER */
header {
  margin: auto;

  background-color: var(--pramyre-text-color);
  border-bottom: 1px solid #ececec;
}

.navigation {
  @media screen and (max-width: 767px) {
    @include flex-justify;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    @include flex-align-justify;
    text-align: center;
  }
}

/* --- LOGO --- */

.logo {
  /* Базовий стиль */
  @include flex-justify;

  font-family: 'Raleway';
  font-style: normal;
  cursor: pointer;
  color: var(--caption-color);

  /* --- Цей медіа-запит застосується при ширині в'юпорту більше 400px mobile --- */
  @media screen and (max-width: 767px) {
    @include font(700, 24px, 1.17, 0.03em);
  }

  /* --- Цей медіа-запит застосується при ширині в'юпорту більше 768px tablet --- */
  @media screen and (min-width: 768px) {
    @include font(700, 24px, 1.17, 0.03em);
    @include flex-align-justify;
  }

  /* --- Цей медіа-запит застосується при ширині в'юпорту більше 1200px desktop --- */
  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 1.19, 0.03em);
    @include flex-align-justify;
  }
}

.navigation__logo {
  margin-top: 16px;
  margin-bottom: 16px;

  /* --- Цей медіа-запит застосується при ширині в'юпорту більше 768px tablet --- */
  @media screen and (min-width: 768px) {
    margin-top: 26px;
    margin-bottom: 26px;
    margin-right: 88px;
  }

  /* --- Цей медіа-запит застосується при ширині в'юпорту більше 1200px desktop --- */
  @media screen and (min-width: 1200px) {
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 91px;
  }
}

.logo__web {
  color: var(--hover-color);
}


/* --- BUTTON MODAL-MENU--- */
.header___burger {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: 15px;

  color: #212121;
  border: none;
  background-color: #FFFFFF;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

image.png.icon-burger {
  /* прописуємо у % щоб займало весь контейнер */
  width: 100%;
  height: 100%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  color: #212121;
  background-color: #FFFFFF;
  transition: color var(--animate);

  .link:hover,
  .link:focus,
  .link.current {
    fill: var(--hover-color);
  }
}

/* --- site-nav --- */

.site-nav {
  @include flex-align;

  /* --- Цей медіа-запит застосується при ширині в'юпорту більше 400px mobile --- */
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.site-nav a {
  color: var(--accent-color);

  font-family: 'Roboto';
  font-style: normal;
  @include font(500, 14px, 1.14, 0.02em);

}

.site-nav>li {
  cursor: pointer;
}

.site-nav>li:not(:last-child) {
  margin-right: 50px;
}

.link {
  transition: transform var(--animate), color var(--animate);
}

.link:hover,
.link:focus,
.link.current {
  color: var(--hover-color);
  border-radius: 2px;
}

.site-nav__item {
  position: relative;
  display: block;
  width: 100%;
  height: 48px;

  margin-top: 32px;
  margin-bottom: 0;
}

.current::after {
  content: '';
  position: absolute;

  display: block;
  width: 100%;
  height: 4px;
  margin-top: 28px;

  bottom: 0;
  left: 0;
  background: var(--hover-color);
  border-radius: 2px;
}

.current:hover::after {
  opacity: 1;
  transition: transform var(--animate);
}

/* --- AUTH-NAV --- */

.auth-nav {

  /* --- Цей медіа-запит застосується при ширині в'юпорту більше 400px mobile --- */
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
    margin-left: auto;

  }

  @media screen and (min-width: 1200px) {
    @include flex-justify;
    margin-left: auto;
    align-items: baseline;
  }
}

.auth-nav>li:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.auth-nav__item {
  font-family: 'Roboto';
  font-style: normal;
  color: var(--title-text-color);

  @media screen and (min-width: 768px) {
    @include font(500, 12px, 1.17, 0.02em);
  }

  @media screen and (min-width: 1200px) {
    @include flex-justify;
    align-items: baseline;

    @include font(500, 14px, 1.14, 0.02em);
  }

}

.auth-nav__envelope {
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }

}

.auth-nav__mail {
  color: var(--title-text-color);
  transition: color var(--animate);
}

.auth-nav__mail:hover,
.auth-nav__mail:focus {
  fill: var(--hover-color);
  color: var(--hover-color);
}

.auth-nav__phone {
  color: var(--title-text-color);
  transition: color var(--animate);
}

.auth-nav__phone:hover,
.auth-nav__phone:focus {
  fill: var(--hover-color);
}

.auth-nav__smartphone {
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}