/* --- КНОПКИ В ПОРТФОЛІО --- */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__container {
  // max-width: 350px;
  
  @media screen and (min-width: 768px) {
      min-width: 768px;
  }
  
  @media screen and (min-width: 1200px) {
      min-width: 1200px;
  }
}

.button__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 8px;
  margin-bottom: 40px;
   
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: center;
  
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
 
}

.button__items {
  height: 26px;
  font-family: 'Roboto';
  font-style: normal;
  @include font(500, 16px, 1.63, 0.03em);

  text-align: center;
  color: var(--accent-color);

  border-radius: 4px;
  border-style: solid;
  border-color: transparent;

  cursor: pointer;
  gap: 8px;
  transition: background-color var(--animate), color var(--animate), box-shadow var(--animate);

  
}

.button__items:hover,
.button__items:focus {
  background-color: var(--hover-color);
  color: var(--pramyre-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* --- card-set --- */
.cards-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  list-style: none;
  margin: auto;
  gap: 30px;

  @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 2);
  }
}

.cards-set__items {
  overflow: hidden;
  width: 370px;
  // margin-top: 30px;
  // margin-left: 30px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

  transition: background-color var(--animate), border var(--animate), box-shadow var(--animate);

  // display: flex;
  // flex-wrap: wrap;
 
  width: 100%;
  background-color: var(--primary-bcg-color);
  
  @media screen and (min-width: 480px) {
      max-width: 450px;   
  }

  @media screen and (min-width: 768px) {
      max-width: 354px;    
  }

  @media screen and (min-width: 1200px) {
      max-width: 370px;
  }

  &:hover,
  &:focus {
    background-color: var(--pramyre-text-color);
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.cards-set__thumb {
  position: relative;
  overflow: hidden;

  & > img {
    overflow: hidden;
  }
}

.cards-set__img {
  width: 450px;
  height: auto;

  @media screen and (min-width: 768px) {
  width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.cards-set__subtitle {
  margin-top: 20px;
  margin-right: 24px;
  margin-bottom: 4px;
  margin-left: 24px;

  @include font(700, 18px, 2, 0.06em);
  color: var(--accent-color);
}

.cards-set__text {
  margin-right: 24px;
  margin-bottom: 20px;
  margin-left: 24px;

  @include font(null, 16px, 1.88, 0.03em);
  color: var(--title-text-color);
}


/* --- ПОРТФОЛІО ВИПАДАЮЧЕ ВІКНО --- */

.card-overlay-text {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;

  font-family: 'Roboto';
  font-style: normal;
  @include font(400, 18px, 1.56, 0.03em);
  text-decoration: none;
  color: var(--pramyre-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  opacity: 1;
  transition: transform 250ms var(--animate);
}

.cards-set__items:hover .card-overlay-text,
.cards-set__items:focus .card-overlay-text {
  transform: translateY(0);
}
